.banner-box {
    margin: 0 auto
}

.content-img {
    width: 100%;
    position: absolute;
    min-width: 1024px;
    padding: 0;
    margin: 0;
    left: 0
}

.content-img li {
    float: left;
    height: 400px;
    line-height: 400px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: #fff;
    text-shadow: 0 5px 5px rgba(0,0,0,.3);
}

.content-img li img {
    width: 100%
}

.banner-box {
    position: relative
}

.slide-box, .slide-box div {
    position: absolute;
    height: 100px
}

.slide-box {
    width: 80%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none
}

.slide-box div {
    pointer-events: auto;
    width: 50px;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    background: rgba(0, 0, 0, .5)
}

.sPrev {
    left: 0
}

.sNext {
    right: 0
}

ol {
    width: 100%;
    height: 50px;
    margin-top: 400px;
    position: relative;
    z-index: 999
}

ol li {
    float: left;
    text-align: center;
    width: 33.333333%
}

.cur {
    font-weight: 700;
    color: red
}